.travel {
  width: 1920px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../imgtravel/travback.jpg);
}

.popular__listbottom {
  padding: 124px 149px 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 1621px;
  height: 560px;
}

.themost {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
}

.triplphoto {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 342px;
  width: 1621px;
  margin-bottom: 50px;
}

.item__photo {
  display: flex;
  justify-content: flex-start;
}

.Incredible {
  width: 441px;
  height: 294px;
  background: url(../imgtravel/photo32.jpg);
}

.Seconds {
  width: 514px;
  height: 342px;
  background: url(../imgtravel/artem.jpg);
}

.Unexplored {
  width: 441px;
  height: 294px;
  background: url(../imgtravel/v2osk.jpg);
}

.photo__textstory {
  transform: translate(10px, 10px);
  background: rgba(0, 0, 0, 0.85);
}

.item__phototextfooter {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transform: translate(5px, 4px);
}

.leftstory {
  width: 133px;
  height: 25px;
}

.middlestory {
  width: 169px;
  height: 25px;
}

.rightstory {
  width: 176px;
  height: 25px;
}

.orin {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
}